@{
    ViewBag.Title = "Contact River House";
}
<h2>@ViewBag.Title.</h2>
<h3>Tung Pham</h3>

<address>
    River House<br />
    Fort Worth, TX 76118<br />
    <abbr title="Phone">P:</abbr>
    +1-(682)-559-4336
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:tpv.142@gmail.com">tpv.142@gmail.com</a><br />
</address>