@model RiverHouse.Models.Member
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Events</h2>
<table id="events" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Events</th>
            <th>Created On</th>  
            <th>Total Guests</th>
            <th>Total Amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@Html.ActionLink("Add New Event", "New", "Events", new { @class = "btn btn-primary" })

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#events").DataTable({
                ajax: {
                    url: "/api/events",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, member) {
                            return "<a href='/events/detail/" + member.id + "'>" + member.name + "</a>";
                        }
                    },
                    {
                        data: "dateCreated",
                        render: function(data) {
                            var m = data.split(/[T-]/);
                            return m[1] + "/" + m[2] + "/" + m[0];
                        }
                    },
                    {
                        data: "guestCount"
                    },
                    {
                        data: "totalAmount"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-event' data-event-id='" + data + "'>Delete</button>";
                        }
                    }
                ]
            });

            $("#events").on("click", ".js-event",
                function () {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this event?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/events/" + button.attr("data-event-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}
